@model IEnumerable<WNLB.Models.Server>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Servers</h4>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a href="@Url.Action("Create", "Server")" class="btn btn-default" role="button"><i class='glyphicon glyphicon-plus'></i> Add Server</a>
                    </div>
                </div>
            </div>

            @if (Model.Count() > 0)
            {
            <!-- Table -->
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ServerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ServerHost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Port)
                    </th>
                    <th>
                        Activity
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td id="@item.ServerName-status">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServerName)
                        </td>
                        <td>
                            @if (item.ServerName.Equals("LocalConfigSrv"))
                            {
                                <span>@Request.Url.Host</span>
                            }
                            else { 
                                @Html.DisplayFor(modelItem => item.ServerHost)
                            }
                        </td>
                        <td>
                            @if (item.ServerName.Equals("LocalConfigSrv"))
                            {
                                <span>@Request.Url.Port</span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Port)
                            }
                        </td>
                        <td id="@item.ServerName-activity">
                            
                        </td>
                        
                        @if (!item.ServerName.Equals("LocalConfigSrv"))
                        { 
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Server", new { id = item.ServerId }, null) |
                            <!--@Html.ActionLink("Details", "Details", new { id = item.ServerId }) |-->
                            @Html.ActionLink("Delete", "Delete", "Server", new { id = item.ServerId }, null)
                        </td>
                        }
                    </tr>
                }

            </table>
            }
            else
            {
                <div class="panel-body">
                    <p>No servers available</p>
                </div>
            }
        </div>
    </div>
</div>

