@model Tuple<IEnumerable<WNLB.Models.Application>, IEnumerable<WNLB.Models.Server>>

@{
    ViewBag.Title = "WNLBv1.0 Configuration Console App";
}

@Html.Partial("_Servers", @Model.Item2)


<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

@Html.Partial("_Apps", @Model.Item1)

@section Scripts {
    @Scripts.Render("~/_config/bundles/jqueryval")
    <script type="text/javascript">
    var statsFailed = 1;
    var refreshIntervalId;

    $(document).ready(function () {
        refreshIntervalId = setInterval(function () { getStats(); }, 5000);
    });

    
    function getStats() {
        $.ajax({
            type: "Get",
            url: "@Url.Action("Stats", "Server")",
            dataType: "json"
        }).success(function (stats) {
            $.each(stats, function (index, server) {
                setServerStatus(server.Name, server.Status);
                setServerActivity(server.Name, server.HitsPerMin);
            });
        }).fail(function () {
            statsFailed++;
            if (statsFailed > 5) {
                clearInterval(refreshIntervalId);
            }
        });
    }

    function setServerActivity(name, lastMinHits) {
        var obj = $("#" + name + "-activity");
        if (obj.length > 0) {
            var hits = [];
            var hitsLength = lastMinHits.length;
            var totalHits = 10;
            if (hitsLength < totalHits) {
                for (var i = 0; i < totalHits - hitsLength; i++) {
                    hits[i] = 0;
                }
                for (var i = 0; i < hitsLength; i++) {
                    hits[i + hitsLength] = lastMinHits[i];
                }
            } else if (hitsLength > totalHits) {
                for (var i = hitsLength - totalHits, j = 0; i < hitsLength; i++, j++) {
                    hits[j] = lastMinHits[i];
                }
            } else {
                for (var i = 0; i < hitsLength; i++) {
                    hits[i] = lastMinHits[i];
                }
            }

            var max = 0;
            for (var i = 0; i < hits.length; i++) {
                if (hits[i] > max) {
                    max = hits[i];
                }
            }

            for (var i = 1, j = 0; i <= hits.length; i++, j++) {
                if (max > 0) {
                    $("#" + name + "-bar-" + i).css("height", "" + ((hits[j] / max) * 100) + "%");
                    $("#" + name + "-bar-" + i).attr("title", hits[j] + " Request(s)");

                } else {
                    $("#" + name + "-bar-" + i).css("height", "0%");
                }
            }
        }
    }

    function setServerStatus(name, status) {
        var obj = $("#" + name + "-status");
        if (obj.length > 0) {
            var img = obj.children("img:first");
            if (img.length > 0) {
                var src = img.attr("src");
                if (status === "DOWN" && src.indexOf("red.png") < 0) {
                    obj.children("img:first").attr("src", "@Url.Content("~/_configResources/Images/red.png")");

                } else if (status == "AVAILABLE" && src.indexOf("green.png") < 0) {
                    obj.children("img:first").attr("src", "@Url.Content("~/_configResources/Images/green.png")");

                } else if (status == "UNKNOWN" && src.indexOf("gray.png") < 0) {
                    obj.children("img:first").attr("src", "@Url.Content("~/_configResources/Images/gray.png")");
                }
            }
        }
    }
</script>
}
