@model WNLB.Models.Server

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Server</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ServerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ServerName)
            @Html.ValidationMessageFor(model => model.ServerName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ServerHost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ServerHost)
            @Html.ValidationMessageFor(model => model.ServerHost)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Port)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Port)
            @Html.ValidationMessageFor(model => model.Port)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsAvailable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsAvailable)
            @Html.ValidationMessageFor(model => model.IsAvailable)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
