@model WNLB.Models.Server

@{
    ViewBag.Title = "Update Server";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Server</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.ServerName, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.ServerName, new { @class = "form-control", autofocus = "" })
                @Html.ValidationMessageFor(model => model.ServerName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServerHost, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.ServerHost, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ServerHost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Port, new { @class = "control-label col-sm-3" })
            <div class="col-sm-1">
                @Html.TextBoxFor(model => model.Port, new { @class = "form-control" })
            </div>
            <div class="col-sm-offset-3 col-sm-9">
                @Html.ValidationMessageFor(model => model.Port)
            </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-default btn-primary">Save Server</button>
                <span>&nbsp;</span>
                @Html.ActionLink("Cancel", "Index", "Home")
            </div>
        </div>

    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
