@model IEnumerable<WNLB.Models.Server>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServerHost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Port)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServerHost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Port)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAvailable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServerId })
        </td>
    </tr>
}

</table>
