@model WNLB.Models.Application
@using WNLB.HtmlHelpers

@{
    ViewBag.Title = "Add New Application";
    var servers = ModelMetadata.FromLambdaExpression<WNLB.Models.Application, ICollection<WNLB.Models.Server>>(m => m.Servers, ViewData);
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend> New Application</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.AppName, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.AppName, new { @class = "form-control", autofocus = "" })
                @Html.ValidationMessageFor(model => model.AppName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Path, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.Path, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Path)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppType, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.EnumDropDownListFor(model => model.AppType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AppType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoutingAlgorithm, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.EnumDropDownListFor(model => model.RoutingAlgorithm, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoutingAlgorithm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Servers, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                <div class="well col-sm-4">
                    <div class="btn-group-vertical col-sm-12" data-toggle="buttons">
                        @foreach (var server in ViewBag.Servers)
                        {
                            <label class="btn btn-default @Html.Raw(server.IsSelected ? "active" : "")">
                                <input name="servers" class="form-control" type="checkbox" autocomplete="off" value="@server.ServerId" @Html.Raw(server.IsSelected ? "checked" : "")>@server.ServerName
                            </label>
                        }
                    </div>
                </div>
                <div class="col-sm-12">
                    @Html.ValidationMessageFor(model => model.Servers)
                </div>
            </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">Add Application</button>
                <span>&nbsp;</span>
                @Html.ActionLink("Cancel", "Index", "Home")
            </div>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
