@model WNLB.Models.Application

@{
    ViewBag.Title = "Add New Application";
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend> New Application</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.AppName, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.AppName, new { @class = "form-control", autofocus = "" })
                @Html.ValidationMessageFor(model => model.AppName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Path, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.TextBoxFor(model => model.Path, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Path)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppType, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.DropDownListFor(model => model.AppType, Model.AppTypes, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AppType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoutingAlgorithm, new { @class = "control-label col-sm-3" })
            <div class="col-sm-9">
                @Html.DropDownListFor(model => model.RoutingAlgorithm, Model.RoutingAlgos, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoutingAlgorithm)
            </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">Add Application</button>
                @Html.ActionLink("Cancel", "Index", "Home")
            </div>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
