<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/_config/Content/css")
    @Scripts.Render("~/_config/bundles/modernizr")
</head>
<body>
    <div class="container">
        @RenderBody()                
    </div>

    @Scripts.Render("~/_config/bundles/jquery")
    @Scripts.Render("~/_config/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>